Aviax/config.py
Aviax/*.session
Aviax/*.session-journal
Aviax/config.ini
log.txt
*.pyc
.idea/
.project
.pydevproject
.directory
.vscode
Aviax/modules/helper_funcs/temp.txt
Aviax/elevated_users.json
start-3.6.bat
*.session
kangsticker.png
venv
env
Aviax.session-journal
updates.txt
*.exe
